---
layout: null
title: Footer
---

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            <li>CNPJ: 35.848.865/0001-97</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <!-- <p>{{ site.description | escape }}</p>
        <p><strong>Entre em contato:</strong> egisberto.silva@egwork.com.br</p> -->
      </div>

      <div class="footer-col footer-col-3">
        <p>Precisa de uma solução tecnológica para sua organização? Entre em contato conosco!</p>
      </div>
    </div>

  </div>

</footer>
